<div class="flex h-screen bg-background text-foreground">
  <!-- Vertical sidebar -->
  <div class="w-64 flex flex-col border-r border-border">
    <app-user-profile class="p-4 border-b border-border"></app-user-profile>
    <app-chat-search class="p-4 border-b border-border"></app-chat-search>
    <app-chat-list class="flex-1 overflow-y-auto"></app-chat-list>
  </div>
  <!-- Main chat area -->
  <div class="flex-1 flex flex-col">
    <app-chat-header class="p-4 border-b border-border"></app-chat-header>
    <app-chat-messages class="flex-1 overflow-y-auto p-4"></app-chat-messages>
    <app-message-input class="p-4 border-t border-border"></app-message-input>
  </div>
  <router-outlet></router-outlet>
</div>
